
body {
    margin: 0px;
    padding: 0px;
    background: url('img/Raghav3.jpg');
    background-size: cover;
    color: white;
    font-family: 'Otomanopee One', sans-serif;
    height: 1500px;
}

.left {
    /* border: 5px solid red; */
    position: absolute;
    top: 24px;
    left: 38px;
    display: inline-block;

}

.mid {
    /* border: 5px solid red; */
    /* position: fixed;
    top: 12px; */
    margin: 13px auto;
    width: 659px;

}

.right {
    /* border: 5px solid red; */
    position: absolute;
    top: 34px;
    right: 32px;
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 26px;
}

.navbar li a:hover,.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.left img {
    width: 112px;
    height: 74px;
}

.left div {
    text-align: center;
}

.btn {
    margin: 5px;
    padding: 0px 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    color: grey;
}

.container {
    /* border: 2px solid white; */
    border-radius: 37px;
    margin: 149px 71px;
    padding: 41px 110px;
    width: 70%;
}

.formGroup input {
    padding: 4px;
    /* border: 2px solid black; */
    border-radius: 10px;
    display: block;
    width: 48%;
    margin: 6px auto;
    font-size: 17px;
    text-align: center;
}

.container h1 {
    text-align: center;
}

.container button {
    width: 51%;
    margin: 10px auto;
    display: block;
    font-size: 19px;
}